<%- include("../layouts/users/header.ejs") %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Laptops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Refurbished</a>
                </li>
                </ul>
            <div class="d-flex">
                <a href="#"><img src="search-icon.png" alt="Search" class="me-3" style="width: 24px; height: 24px;"></a>
            </div>
        </div>
        </div>
</nav>
<%- include("../layouts/users/footer.ejs") %>